<div class="contentQuestions">
  <div class="pre">
    <h3>{{ "home.title" | translate }}</h3>
    <h4>{{ "home.hello" | translate }} {{ name }} 👋</h4>
    <p>
      {{ "home.question" | translate }} {{ currentQuestion + 1 }} z
      {{ allQuestions.length }}
    </p>
  </div>
  <div class="questions">
    <h3>{{ "home.questionNo" | translate }} {{ currentQuestion + 1 }}</h3>
    <h4>{{ allQuestions[currentQuestion]?.question }}</h4>
    <ul *ngFor="let option of allQuestions[currentQuestion]?.options">
      <li
        (click)="getAnswer(currentQuestion + 1, option)"
        appChangeBg
        [isCorrect]="option.correct"
      >
        {{ option.text }}
      </li>
    </ul>
  </div>
  <div class="buttons">
    <button
      [disabled]="currentQuestion === allQuestions.length - 1"
      class="next"
      (click)="nextQuestion()"
    >
      {{ "home.next" | translate }}
    </button>
    <button (click)="sendMessage()" class="summary" routerLink="/summary">
      {{ "home.summary" | translate }}
    </button>
  </div>
</div>
