<div class="contentSummary" change="getScore()">
  <div class="text">
    <div class="summary">
      <h2>{{ "home.congratulations" | translate }}</h2>
      <h3>{{ "home.result" | translate }}</h3>
      <p>{{ "home.correct" | translate }} {{ correctAnswer }}</p>
      <p>{{ "home.incorrect" | translate }}{{ incorrectAnswer }}</p>
      <p>{{ "home.percent" | translate }} {{ visible * 100 }}%</p>
    </div>
    <div class="percent">
      <div *ngIf="visible <= 0.5" class="to50Percent">
        <p>{{ "home.summaryTextOne" | translate }}</p>
        <img src="./../../assets/pic/poplatane.jpg" alt="poplątane sznurki" />
      </div>
      <div *ngIf="visible > 0.5 && visible <= 0.8" class="to80Percent">
        <p>{{ "home.summaryTextTwo" | translate }}</p>
        <img src="./../../assets/pic/prawie.jpg" alt="owieczka w koszyku" />
      </div>
      <div *ngIf="visible > 0.8" class="to100Percent">
        <p>{{ "home.summaryTextThree" | translate }}</p>
        <img src="./../../assets/pic/mistrz.jpg" alt="pszczółka" />
      </div>
    </div>
  </div>
  <button routerLink="/response">{{ "home.seeResult" | translate }}</button>
</div>
